* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Baloo 2', cursive;
  background: #ffffff;
  color: #333;
}

img, iframe {
  max-width: 100%;
  height: auto;
}

h2 {
  color: #ff6f61;
}

